/*section Presentation*/
.main__presentation {
    padding: 10%;
    font-size: 1.8rem;
    font-weight: 800;
    background-image: url(../images/capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1%;
    color: #fbff00;
    background-color: #1966b4;
}

/*section highlights*/
.main__highlights {
    padding: 15%;
    background-image: url(../images/imagem.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1%;
    color: #1966b4;
    font-size: 2rem;
    font-weight: 800;
    border: 5px solid #fbff00;
}

.main__highlights h2 {
    background-color: #f2f2f2;
    border-radius: 10px 10px 0 0;
}

.main__highlights p {
    background-color: #f2f2f2;
    border-radius: 0 0 10px 10px;
}

/*section news*/
.main__news {
    margin: 5%;
}

.main__news-list {
    flex-wrap: wrap;
}

.news-list-card {
    height: 30vh;
    padding: 1%;
    margin-bottom: 5%;
    background-color: #1966b4;
    border: 5px solid #fbff00;
    border-radius: 10px 3px 10px 3px;
    box-shadow: 10px 10px 20px;
}

.card-title {
    font-size: 1.5rem;
    color: #fbff00;
}

.card-image {
    width: 80%;
    height: 22vh;
    margin: 4%;
    border: 1px solid #fbff00;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #f2f2f2;
}